body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  background-image: url("halloween.png");
  /* background-size: 50% 50%; */
  /* background-size: cover; */
  background-size: contain;
  color: #f8f8f8;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh
    /* Asegura que el body al menos tenga la altura de la ventana */
}

/* Estilos del contenedor principal */
header {
  padding: 20px;
  background-color: #333333;
}

h1 {
  font-size: 2rem;
  color: #ff8c00;
}

#contenedor_preguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  border: 2px solid #ff5733;
  border-radius: 10px;
  background-color: #292b2c;
}

.opcion {
  padding: 15px 20px;
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
  background-color: #444;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
}

.opcion:hover {
  background-color: #ff5733;
}

main {
  padding: 20px;
  flex: 1;
  /*Hace que el main tome el espacio disponible*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Centrar el contenido horizontalmente */
}

#chartResultados {
  max-width: 80%;
  height: 500px;
  margin: 20px auto;
  padding: 15px;
  /* background-color: #292b2c; */
  background-color: #f19c56;
  border-radius: 10px;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); */
  box-shadow: 2px 0px 8px 4px #875b0b;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Botón para iniciar el quiz */
button.btn-principal {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff4500;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

button.btn-principal:hover {
  background-color: #ff8c00;
}

/* Botón de la página de resultados */
button.btn_principal {
  margin-top: 20px;
  padding: 15px 30px;
  background-color: #ff4500;
  /* Color verde */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
}


button.btn_principal:hover {
  background-color: #ff8c00;
  
}


footer {
  padding: 10px;
  background-color: #333333;
  color: #999;
  text-align: center;
}

/* Campo input */

input#nameUsuario {
    border: 2px solid orange;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f7f3e9;
    color: #333;
}

input#nameUsuario::placeholder {
    color: #c66;
    font-style: italic;
}

input#nameUsuario:focus {
    border-color: #ff8c00;
    outline: none;
    background-color: #fff8e1;
}

/*
  .opcion {
    padding: 10px 15px;
    margin: 5px;
    background-color: #444;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .opcion:hover {
    background-color: #666;
  }
  
  .opcion:active {
    transform: scale(0.98);
   */